@import '../mixins';
@import '../vars';

.hero {
    &__wrap {
       @include flex_center;
       margin: 90/$vw 50/$vw 0;
       gap: 15/$vw;
    }
    &__content {
    display: flex;
    flex-direction: column;
    max-width: 635/$vw;
        &-title {
            @include section-title;
            margin-top: 14/$vw;
        }
        &-desc {
            margin-top: 26/$vw;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 72/$vw;
            line-height: 1.08;
            color: var(--text-black);
        }
        &-text {
            margin-top: 26/$vw;
            font-weight: 400;
            font-size: 18/$vw;
            line-height: 1.66;
        }
        &-btn {
            @include btn-main;
            margin-top: 50/$vw;
        }
        
    }
    &__wrapper {
        position: relative;
        @include img-decor;
        &::before {
            top: 33/$vw;
            left: 33/$vw;
            width: 700/$vw;
        }
    }
    &__img {
        width: 700/$vw;
        @include img-border;
    }
}

@media (max-width: $mobile) {
    .hero {
        &__wrap {
            flex-wrap: wrap-reverse;
            align-content: center;
            align-items: center;
            margin: 50/$mb auto 0;
            gap: 50/$mb;
        }
        &__content {
        max-width: 635/$mb;
        align-items: center;
            &-title {
                margin-top: 14/$mb;
            }
            &-desc {
                margin-top: 26/$mb;
                font-size: 72/$mb;
            }
            &-text {
                margin-top: 26/$mb;
                font-size: 18/$mb;
            }
        }
        &__wrapper {
            &::before {
                top: 33/$mb;
                left: 33/$mb;
                width: 500/$mb;
            }
        }
        &__img {
            width: 500/$mb;
        }
    }
}