$mock-up-width: 1440;
$pop-up-width: 1240px;
$mobile-width: 767.98;
$vw: $mock-up-width/100vw;
$mb: $mobile-width/100vw;

// BrPoint
$mobile: 767.98px;

//Fonts
$font-main: 'Open Sans', sans-serif;
$font-acent: 'Poppins', sans-serif;

html[data-theme="light"] {
//Background
--background: #FFFFFF;
--background-gray: #F8F8F8;
//Primary
--primary-brown: #CAA892;
--primary-green: #37806B;
//Text colors
--text-black: #212121;
--text-light: #646464;
--text-white: #FFFFFF;
//Other
--mix-blend-mode: lighten;    
}

html[data-theme="dark"] {
//Background
--background: #212121;
--background-gray: #2d2d2d;
//Primary
--primary-brown: #37806B;
--primary-green: #CAA892;
//Text colors
--text-black: #FFFFFF;
--text-light: #646464;
--text-white: #212121; 
//Other
--mix-blend-mode: darken;  
}
