$mock-up-width: 1440;
$pop-up-width: 1240;
$mobile-width: 767.98;
$vw: $mock-up-width/100vw;
$mb: $mobile-width/100vw;

$background: #FFFFFF;
$background-gray: #F8F8F8;

$primary-brown: #CAA892;
$primary-green: #37806B;

$font-main: 'Open Sans', sans-serif;
$font-acent: 'Poppins', sans-serif;

$text-black: #212121;
$text-light: #646464;
$text-white: #FFFFFF;